.portfolio {
  position: absolute;
  top: 0;
  width: 100%;
  height: 3731px;
  background: black;
}
.back {
  position: relative;
  color: #fff;
  text-decoration: none;
  left: 10px;
}
.back:hover{
  background: #f9f9f9;
  color: #000;
  top: 10px;
  padding: 10px;
  left: 0;
  transition: 0.3s ease-in-out;
}
.portfolio-section {
  max-width: 900px;
  margin: 8rem auto;
}

.github-link {
  width: 90%;
  transform: scale(1);
  animation: pulse 2s infinite;
  text-transform: uppercase;
  cursor: pointer;
}

.coming-soon {
  color: #fff;
  position: relative;
  font-size: 33px;
  width: 78%;
  left: 4%;
  margin: 1rem auto;
  text-transform: uppercase;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}
@media screen and (max-width: 960px) {
  .portfolio {
    height: 4309px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio {
    height: 4347px;
    z-index: 100;
  }
  .coming-soon {
    font-size: 26px;
    width: 72%;
    left: 6%;
  }
}

@media screen and (max-width: 602px) {
  .portfolio {
    height: 5647px;
  }
}

@media screen and (max-width: 500px) {
  .portfolio {
    height: 5483px;
  }
}

@media screen and (max-width: 320px) {
  .coming-soon{
    font-size: 20px;
  }
}