.home {
  position: relative;
  top: 0px;
  width: 100%;
}

.boxes {
  position: relative;
  top: 50px;
  display: flex;
  height: 444px;
}
.grey-box {
  position: relative;
  flex: 0.5 1;
  background-color: #f2f2f2;
  mix-blend-mode: screen;
}

.white-box {
  position: relative;
  flex: 0.5 1;
  background-color: white;
}

.intro {
  position: absolute;
  top: 120px;
  left: 24%;
  height: 375px;
}

.greeting {
  display: flex;
  flex-direction: column;
  width: 572px;
  font: normal normal bold 50px/70px sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.hello {
  top: 25px;
}

.jobTitle {
  position: absolute;
  top: 149px;
  left: 0%;
  font: normal normal bold 50px/70px sans-serif;
  letter-spacing: -0.77px;
  text-transform: uppercase;
  mix-blend-mode: difference;
  text-shadow: rgb(24, 24, 24);
}
@supports (-webkit-text-stroke: 1px rgb(0, 0, 0)) {
  .jobTitle {
    -webkit-text-stroke: 1px #f2f2f2;
    -webkit-text-fill-color: rgb(0, 0, 0);
  }
}
.Scroll {
  position: relative;
  display: flex;
  justify-content: space-around;
  top: -40px;
  left: 24%;
  width: 208px;
  height: 48px;
  border: 2px solid #000000;
  opacity: 1;
  text-align: center;
  text-decoration: none;
  color: #000;
  font: normal normal 700 20px/48px sans-serif;
}

.arrowBox {
  position: absolute;
  top: -2px;
  left: 74%;
  width: 56px;
  height: 48px;
  background: #000000;
  color: #ffffff;
  line-height: 55px;
  font-size: 18px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .intro {
    top: -100px;
  }
  .grey-box {
    width: 50%;
    height: 725px;
  }
  .white-box {
    width: 50%;
    height: 724px;
  }
  .greeting {
    position: absolute;
    top: 225px;
    left: 24%;
    width: 360px;
  }

  .hello {
    width: 300px;
  }
  .jobTitle {
    width: 103%;
    top: 275px;
  }

  .Scroll {
    top: 132px;
  }
}

@media screen and (max-width: 500px) {
  .grey-box, .boxes {
    display: none;
  }

  .white-box {
    width: 100%;
  }
  .greeting {
    top: 112px;
    left: 20%;
    width: 60%;
    font: normal normal bold 40px/58px sans-serif;
  }

  .hello {
    font: normal normal bold 36px/58px sans-serif;
  }
  
  .jobTitle {
    width: 100%;
    top: 183px;
    font: normal normal bold 36px/50px sans-serif;
  }
  .Scroll {
    top: 400px;
    left: 20%;
    width: 60%;
  }
  .arrowBox {
    left: 82%;
  }

  .intro {
    top: -50px;
    left: 20%;
  }
  @supports (-webkit-text-stroke: 1px #f2f2f2) {
    .jobTitle {
      -webkit-text-stroke: 1px #f2f2f2;
      -webkit-text-fill-color: rgb(0, 0, 0);
    }
  }

}
/* @media screen and (max-width: 450px) {
  .Scroll {
    top: 490px;
  }
} */
@media screen and (max-width: 376px) {
  .hello {
    width: 250px;
  }
  .jobTitle {
    top: 240px;
  }
  .Scroll {
    top: 460px;
  }
}
@media screen and (max-width: 317px) {
  .hello {
    width: 165px;
  }

  .jobTitle {
    top: 350px;
  }

  .Scroll {
    top: 570px;
  }
}

