.portfolio {
  position: relative;
  top: -785px;
  max-width: 1300px;
  margin: 0rem auto;
  height: 620px;
}
.my-portfolio {
  position: relative;
  top: 100px;
  width: 69%;
  left: 24%;
  height: auto;
  text-align: left;
  font: normal normal bold 64px/82px sans-serif;
  letter-spacing: -0.77px;
  text-transform: uppercase;
}
.portfolio-section {
  display: flex;
  position: relative;
  top: 185px;
  height: 354px;
  background: #000;
}

.porfolio-container {
  flex: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.portfolio-text {
  font-size: 20px;
  position: relative;
  width: 145px;
  transition: transform 0.5s;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.portfolio-text:hover {
  transform: scale(1.2);
}

.portfolio-image {
  flex: 0.7;
  position: relative;
}

.mobile-portfolio-image {
  display: none;
}

@media screen and (max-width: 960px) {
  .portfolio-image {
    display: none;
  }
  .mobile-portfolio-image {
    display: flex;
    flex: 0.5;
  }
}

@media screen and (max-width: 768px){
  .portfolio {
    top: -770px;
    height: 899px;
  }

  .my-portfolio {
    left: 7%;
    font: normal normal bold 40px/48px sans-serif;
  }
  
  .portfolio-section {
    flex-direction: column;
    height: 666px;
  }

  .github-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 26%;
  }

  .mobile-portfolio-image {
    top: 50px;
  }
}

@media screen and (max-width: 500px) {
  .portfolio {
    top: -610px;
}
  .github-container {
    width: 41%;
  }
}

@media screen and (max-width: 360px) {
  .portfolio {
    top: -520px;
  }
}

@media screen and (max-width: 330px) {
  .github-container {
    width: 65%;
  }
}

@media screen and (max-width: 317px) {
  .portfolio {
    top: -449px;
  }
}
